<h3>Logout</h3>


<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter UserName" name ="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name ="password">

    <input type="submit" value="LogIn" class="btn">
</form>


<!-- <h2>Register</h2>

<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter UserName" name ="username">

    <label for="password"><b>Username</b></label>
    <input type="password" placeholder="Enter password" name ="password">

    <input type="submit" value="Register" class="btn">
</form> -->

